
{
  margin: 0;
  padding: 0;

}

html{
  scroll-behavior: smooth;
}

body
{
  /*
  Using a white bacground color
  final update after messing around with height
  */
  background-color: #f6f9fc;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
/*
this part is for the PROJECT and CONTACT "tabs" in upper right hand corner
*/
/*------------------ TAB BAR begins---------------*/
.navigation {
  float: right;
  list-style: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  padding-right: 7vw;
  width: 100%;
}

.navigation li{
  float: right;
  display: inline-block;
}

.navigation li a{
  display: block;
  color: #5a5d7a;
  text-align: center;
  /*future reference, use text-decoration to get rid of underline */
  text-decoration: none;
  padding: 1vw 3vh;
  font-family:sans-serif;
  font-size: 1.1em;
}

/*Want some sort of border/ underline when hovering over button/TABS*/
.navigation li a:hover{
  border: 1px solid #5a5d7a;

}
/*----------TAB BARS END--------------*/


.logo img
{
  width: 10vw;
  height: auto;
  float: left;
  padding: 15px 30px;
  border-radius: 50%;
}

/*-------TYPE WRITER ANIMATION starts here-----------*/
.header h1 {
  font-family: Monaco,Consolas,Lucida Console,monospace;
  color: rgba(116,127,224,.65);
  padding-left: 15vw;
  border-right: .15em solid white;
  transform: translateY(29vh);
  font-size: 4.5em;
