*
{
  margin: 0;
  padding: 0;

}

html{
  scroll-behavior: smooth;
}

/*----BACKGROUND STARTS HERE---*/
body
{
  background-color: #f6f9fc;
  height: 150vh;
}
/*----BACKGROUND ENDS------*/

/*----Navigation STARTS------*/
.navigation {
  float: right;
  list-style: none;
  margin: 0;
  padding: 1vh;
  overflow: hidden;
  padding-right: 3vw;
  width: 100%;
}

.navigation li{
  float: right;
  display: inline-block;
}

.navigation li a{
  display: block;
  color: #5a5d7a;
  text-align: center;
  text-decoration: none;
  padding: 1vw 3vh;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.1em;
}

/*BORDER WHEN HOVERING OVER TABS*/
.navigation li a:hover{
  border: 1px solid #5a5d7a;

}
/*----Navigation ENDS------*/


/*---TYPEWRITER STARTS---------*/
.headerMessage h1 {
  font-family: Monaco,Consolas,Lucida Console,monospace;
  color: rgba(116,127,224,.65);
  padding-left: 15vw;
  border-right: .15em solid white;
  transform: translateY(29vh);
  font-size: 4vw;

  white-space: nowrap;
  overflow: hidden;
  width: auto;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: .15em;
  /*Bar that follows as letter is being typed*/
  animation: typing 4s steps(50, end),
			 blink-caret 1s step-end infinite;
}

/*animation part for typewriter*/
@keyframes typing{
  from {max-width: 0}
  to {max-width: 100%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50% {border-color: rgba(116,127,224,.65)}
}
/*---TYPEWRITER ENDS---------*/

/*---INTRO STARTS---------*/
.introduction{
  line-height: 1.5em;
  transform: translateY(39vh);
  color: #5a5d7a;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  word-wrap: break-word;
  width: 70%;
  padding-left: 15vw;
}
/*---INTRO ENDS---------*/

/*----ABOUT ME STARTS--------*/
#aboutMe{
  transform: translateY(50vh);
  text-align: center;
  color: #5a5d7a;
  padding-bottom: 2%;

  font-family: sans-serif;
  font-size: 1.5em;
  text-decoration: underline solid #5a5d7a;
  text-underline-position: solid under;

}

/*Box around about me*/
.aboutMeContainer{
  background: #f6f9fc ;
  filter: drop-shadow(0 0 5px #333);
  border-radius: 25px;
  padding: 1.2%;
  overflow: hidden;
  transform: translateY(52vh);
  line-height: 1.2em;
  color: #5a5d7a;
  font-family: sans-serif;
  font-size: 1.2em;
  word-wrap: break-word;
  width: 70%;
  padding-left: 10vw;
}

/*Resume and links*/
.aboutMeContainer a{
  color: rgba(116,127,224,.65);
  text-decoration: none;
}

.container a:hover{
  color: SkyBlue;
}


/*-------ABOUT ME ENDS------*/


/*---PROJECT SECTION STARTS---------*/
#projects{
  transform: translateY(65vh);
  text-align: center;
  color: #5a5d7a;
  padding-bottom: 2%;
  font-family: sans-serif;
  font-size: 1.5em;
  text-decoration: underline solid #5a5d7a;
  text-underline-position: under;

}

/*---PROJECT 1 SECTION STARTS---------*/
.project1{
  background: #f6f9fc no-repeat 14vw;
  filter: drop-shadow(0 0 5px #333);
  border-radius: 25px;
  padding: 1.5%;
  transform: translateY(67vh);
  width: 70%;
  padding-left: 15vw
}

/*Project Title Text*/
.project1TextHeader{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.8em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 2vh;
  width: 50%;
}

/*Takes care of mobile view*/
.container1{
  display: flex;
  justify-content: flex-start;
}

/*Text for skills*/
.project1Text{
  line-height: 1.5em;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 5vh;
  word-wrap: break-word;
  width: 50%;
  max-width: 100%;
}
/*Border for skills*/
.project1Text li{
  text-decoration: none;
  list-style: none;
  margin: 5px;
  display: inline-block;
  padding: 1vh 1vw;
  transform: translateX(-2vh);
  border: 2px solid Violet;
  border-radius: 25px;

}
/*Text for links*/
.project1Links{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-top: 2vh;
  padding-left: 9vw;
  text-align: center;
}

/*Border around links*/
.project1Links a{
  color: #5a5d7a;
  text-decoration: none;
  display: block;
  margin: 10px;
  padding: 1vh 1vw;
  border: 2px solid Indigo;
  border-radius: 25px;
}
/*Color when hovering hover links*/
.project1Links a:hover{
  color: Purple;
}

/*---PROJECT 1 SECTION ENDS---------*/

/*---PROJECT 2 SECTION STARTS---------*/
.project2{
  background: #f6f9fc no-repeat 14vw;
  filter: drop-shadow(0 0 5px #333);
  border-radius: 25px;
  padding: 1.5%;
  transform: translateY(75vh);
  width: 70%;
  padding-left: 15vw
}

/*Project Title Text*/
.project2TextHeader{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.8em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 2vh;
  width: 50%;
}

/*Takes care of mobile view*/
.container2{
  display: flex;
  justify-content: flex-start;
}

/*Text for skills*/
.project2Text{
  line-height: 1.5em;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 5vh;
  word-wrap: break-word;
  width: 50%;
  max-width: 100%;
}
/*Border for skills*/
.project2Text li{
  text-decoration: none;
  list-style: none;
  margin: 5px;
  display: inline-block;
  padding: 1vh 1vw;
  border: 2px solid Violet;
  border-radius: 25px;

}
/*Text for links*/
.project2Links{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-top: 2vh;
  padding-left: 9vw;
  text-align: center;
}

/*Border around links*/
.project2Links a{
  color: #5a5d7a;
  text-decoration: none;
  display: block;
  margin: 10px;
  padding: 1vh 1vw;
  border: 2px solid Indigo;
  border-radius: 25px;
}
/*Color when hovering hover links*/
.project2Links a:hover{
  color: Purple;
}

/*---PROJECT 2 SECTION ENDS---------*/

/*---PROJECT 3 SECTION STARTS---------*/
.project3{
  background: #f6f9fc no-repeat 14vw;
  filter: drop-shadow(0 0 5px #333);
  border-radius: 25px;
  padding: 1.5%;
  transform: translateY(85vh);
  width: 70%;
  padding-left: 15vw
}

/*Project Title Text*/
.project3TextHeader{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.8em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 2vh;
  width: 50%;
}

/*Takes care of mobile view*/
.container3{
  display: flex;
  justify-content: flex-start;
}

/*Text for skills*/
.project3Text{
  line-height: 1.5em;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 5vh;
  word-wrap: break-word;
  width: 50%;
  max-width: 100%;
}
/*Border for skills*/
.project3Text li{
  text-decoration: none;
  list-style: none;
  margin: 5px;
  display: inline-block;
  padding: 1vh 1vw;
  transform: translateX(-2vh);
  border: 2px solid Violet;
  border-radius: 25px;

}
/*Text for links*/
.project3Links{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-top: 2vh;
  padding-left: 9vw;
  text-align: center;
}

/*Border around links*/
.project3Links a{
  color: #5a5d7a;
  text-decoration: none;
  display: block;
  margin: 10px;
  padding: 1vh 1vw;
  border: 2px solid Indigo;
  border-radius: 25px;
}
/*Color when hovering hover links*/
.project3Links a:hover{
  color: Purple;
}

/*---PROJECT 3 SECTION ENDS---------*/


/*---PROJECT 4 SECTION STARTS---------*/
.project4{
  background: #f6f9fc no-repeat 14vw;
  filter: drop-shadow(0 0 5px #333);
  border-radius: 25px;
  padding: 1.5%;
  transform: translateY(95vh);
  width: 70%;
  padding-left: 15vw
}

/*Project Title Text*/
.project4TextHeader{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.8em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 2vh;
  width: 50%;
}

/*Takes care of mobile view*/
.container4{
  display: flex;
  justify-content: flex-start;
}

/*Text for skills*/
.project4Text{
  line-height: 1.5em;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  color: #5a5d7a;
  padding-left: 5vw;
  padding-top: 5vh;
  word-wrap: break-word;
  width: 50%;
  max-width: 100%;
}
/*Border for skills*/
.project4Text li{
  text-decoration: none;
  list-style: none;
  margin: 5px;
  display: inline-block;
  padding: 1vh 1vw;




  border: 2px solid Violet;
  border-radius: 25px;

}
/*Text for links*/
.project4Links{
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-top: 2vh;
  padding-left: 9vw;
  text-align: center;
}

/*Border around links*/
.project4Links a{
  color: #5a5d7a;
  text-decoration: none;
  display: block;
  margin: 10px;
  padding: 1vh 1vw;
  border: 2px solid Indigo;
  border-radius: 25px;
}
/*Color when hovering hover links*/
.project4Links a:hover{
  color: Purple;
}

/*---PROJECT 4 SECTION ENDS---------*/


#contact{
  transform: translateY(100vh);
  text-align: center;
  color: #5a5d7a;
  padding-bottom: 2%;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.5em;
  text-decoration: underline dotted #5a5d7a;
  text-underline-position: under;
}

.contactInfo{
  transform: translateY(100vh);
  line-height: 1.3em;
  color: #5a5d7a;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-size: 1.2em;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
}

.contactInfo a{
  color: #5a5d7a;
  text-decoration: none;
}

.contactInfo a:hover{
  color: DeepSkyBlue;
}
